###  ANALISIS PRELIMINAR: DATASET NÂ°01 - Data_Extract_From_Education_Statistics_-_All_Indicators

In [4]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df1 = pd.read_csv("P_Data_Extract_From_Gender_Statistics.csv")
df1

,Country Name,Country Code,Time,Time Code,"Access to anti-retroviral drugs, female (%) [SH.HIV.ARTC.FE.ZS]","Access to anti-retroviral drugs, male (%) [SH.HIV.ARTC.MA.ZS]","Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]",Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS],"Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total) [SH.DTH.COMM.ZS]",...,Rural population (% of total population) [SP.RUR.TOTL.ZS],Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF],"Stillbirth rate (per 1,000 total births) [SH.DYN.STLB]","Suicide mortality rate (per 100,000 population) [SH.STA.SUIC.P5]","Suicide mortality rate, female (per 100,000 female population) [SH.STA.SUIC.FE.P5]","Suicide mortality rate, male (per 100,000 male population) [SH.STA.SUIC.MA.P5]","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age) [SH.ALC.PCAP.LI]","Total alcohol consumption per capita, female (liters of pure alcohol, projected estimates, female 15+ years of age) [SH.ALC.PCAP.FE.LI]","Total alcohol consumption per capita, male (liters of pure alcohol, projected estimates, male 15+ years of age) [SH.ALC.PCAP.MA.LI]",Urban population (% of total population) [SP.URB.TOTL.IN.ZS]
0,Argentina,ARG,1987.0,YR1987,..,..,70.728,22.232,..,..,...,14.157,1.053,..,..,..,..,..,..,..,85.843
1,Argentina,ARG,1988.0,YR1988,..,..,70.333,22.069,..,..,...,13.767,1.054,..,..,..,..,..,..,..,86.233
2,Argentina,ARG,1989.0,YR1989,..,..,69.963,21.907,..,..,...,13.387,1.054,..,..,..,..,..,..,..,86.613
3,Argentina,ARG,1990.0,YR1990,..,..,70.928,21.989,96.9,..,...,13.016,1.054,..,..,..,..,..,..,..,86.984
4,Argentina,ARG,1991.0,YR1991,..,..,71.979,21.844,..,..,...,12.672,1.054,..,..,..,..,..,..,..,87.328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Considerando como cliente a una ONG relacionada a la investigaciÃ³n, delimitamos los indicadores.

In [5]:
indicadores_deseados = ["Country Name", "Country Code", "Time", "Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]", 
                        "GDP (current US$) [NY.GDP.MKTP.CD]", "GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]","Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]",
                        "Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]"
                        ]
df1 = df1[indicadores_deseados]
df1.sample(7)

,Country Name,Country Code,Time,"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]",GDP (current US$) [NY.GDP.MKTP.CD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],"Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]","Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]"
367,Ecuador,ECU,1994.0,87.052,22708673336.6683,4.25825046821244,84,83
495,Guatemala,GTM,2014.0,81.595,57852399963.7878,4.44397758285268,74,68
509,Guyana,GUY,1992.0,109.687,373573141.486811,7.75788577607526,79,73
1022,Peru,PER,2001.0,70.947,52030158775.4055,0.617892325624297,90,97
1269,Uruguay,URY,1996.0,68.845,20515543039.2132,5.57795776385868,91,89
142,Bolivia,BOL,2021.0,..,40408208528.1599,6.1058042252093,70,75
1324,Vanuatu,VUT,2015.0,71.024,730870581.672312,0.366522075389213,80,76

## Normalizando

In [6]:
# Lista de columnas a convertir a tipo numÃ©rico
columnas_indicadores = list(df1.columns[3:])

# Iterar sobre las columnas y convertirlas a tipo numÃ©rico
for columna in columnas_indicadores:
    df1[columna] = pd.to_numeric(df1[columna], errors='coerce')

df1 = df1.iloc[:-5]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_14632\3321024858.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columna] = pd.to_numeric(df1[columna], errors='coerce')

In [7]:
df1.shape

(1368, 8)

###  ANALISIS PRELIMINAR: DATASET NÂ°02 - Data_Extract_From_Education_Statistics_-_All_Indicators

In [8]:
df2 = pd.read_csv("P_Data_Extract_From_Education_Statistics_-_All_Indicators.csv")
df2

,Country Name,Country Code,Time,Time Code,"Adult illiterate population, 15+ years, male (number) [UIS.LP.AG15T99.M]","Adult illiterate population, 15+ years, female (number) [UIS.LP.AG15T99.F]","Completion rate, primary education, both sexes (%) [UIS.CR.1]","Completion rate, primary education, female (%) [UIS.CR.1.F]","Completion rate, primary education, male (%) [UIS.CR.1.M]","Completion rate, primary education, rural, both sexes (%) [UIS.CR.1.RUR]",...,GDP per capita (current US$) [NY.GDP.PCAP.CD],"Government expenditure on education, constant US$ (millions) [UIS.X.USCONST.FSGOV]","Government expenditure on primary education, constant US$ (millions) [UIS.X.USCONST.1.FSGOV]","Government expenditure on secondary education, constant US$ (millions) [UIS.X.USCONST.2T3.FSGOV]","Percentage of qualified teachers in primary education, both sexes (%) [UIS.QUTP.1]","Percentage of qualified teachers in primary education, female (%) [UIS.QUTP.1.F]","Percentage of qualified teachers in primary education, male (%) [UIS.QUTP.1.M]","Population, total [SP.POP.TOTL]","Population, male (% of total) [SP.POP.TOTL.MA.ZS]","Population, female (% of total) [SP.POP.TOTL.FE.ZS]"
0,Argentina,ARG,1987.0,YR1987,..,..,..,..,..,..,...,3562.87560174521,4090.68717,194.01739,1733.57488,..,..,..,31184415,48.8217526378805,51.1782473621195
1,Argentina,ARG,1988.0,YR1988,..,..,..,..,..,..,...,3985.19121035849,..,..,..,..,..,..,31668949,48.7717633988306,51.2282366011694
2,Argentina,ARG,1989.0,YR1989,..,..,..,..,..,..,...,2383.86769311311,3064.63426,90.97294,1382.77253,..,..,..,32148134,48.7298533037855,51.2701466962145
3,Argentina,ARG,1990.0,YR1990,..,..,..,..,..,..,...,4333.48297312146,3049.76309,99.53628,1333.49309,..,..,..,32618651,48.6989313597547,51.3010686402453
4,Argentina,ARG,1991.0,YR1991,419739,488318,..,..,..,..,...,5735.36032735223,..,..,..,..,..,..,33079000,48.6806978033981,51.3193021966019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295,Data from database: Education Statistics - All...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1296,Last Updated: 12/20/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Considerando como cliente a una ONG relacionada a la investigaciÃ³n, delimitamos los indicadores.

In [9]:
indicadores_deseados = ["Country Name", "Country Code", "Time", "GDP at market prices (current US$) [NY.GDP.MKTP.CD]", "GDP per capita (current US$) [NY.GDP.PCAP.CD]"
                        ]
df2 = df2[indicadores_deseados]
df2.sample(7)

,Country Name,Country Code,Time,GDP at market prices (current US$) [NY.GDP.MKTP.CD],GDP per capita (current US$) [NY.GDP.PCAP.CD]
335,Cuba,CUB,2016.0,91370000000,8060.79588647979
1196,Uruguay,URY,1993.0,15002106518.4847,4720.99130625166
994,Samoa,WSM,1995.0,224865731.381903,1322.31956544335
200,Canada,CAN,2017.0,1646867220617.47,45069.9272544324
616,Marshall Islands,MHL,1991.0,82507000,1704.54921080902
662,Mexico,MEX,2003.0,729336319677.449,7075.36964299974
812,Nicaragua,NIC,2017.0,13843612004.9649,2168.19520646356

## Normalizando

In [10]:
# Lista de columnas a convertir a tipo numÃ©rico
columnas_indicadores = list(df2.columns[3:])

# Iterar sobre las columnas y convertirlas a tipo numÃ©rico
for columna in columnas_indicadores:
    df2[columna] = pd.to_numeric(df2[columna], errors='coerce')

df2 = df2.iloc[:-5]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_14632\1040071100.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[columna] = pd.to_numeric(df2[columna], errors='coerce')

In [11]:
df2.shape

(1292, 5)

###  ANALISIS PRELIMINAR: DATASET NÂ°03 - Data_Extract_From_Population_estimates_and_projections

In [13]:
df3 = pd.read_csv("P_Data_Extract_From_Population_estimates_and_projections.csv")
df3

,Country Name,Country Code,Time,Time Code,"Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]","Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]","Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",...,"Population, male [SP.POP.TOTL.MA.IN]","Population, male (% of total population) [SP.POP.TOTL.MA.ZS]","Population, total [SP.POP.TOTL]",Rural population [SP.RUR.TOTL],Rural population (% of total population) [SP.RUR.TOTL.ZS],Rural population growth (annual %) [SP.RUR.TOTL.ZG],Urban population [SP.URB.TOTL],Urban population (% of total population) [SP.URB.TOTL.IN.ZS],Urban population growth (annual %) [SP.URB.GROW],Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF]
0,Argentina,ARG,1987.0,YR1987,22.232,8.157,3.059,74.004,67.148,70.564,...,15353727.0,49.184726,31216453.0,4419313.0,14.157,-1.26157244837195,26797140.0,85.843,1.97569092831855,1.053
1,Argentina,ARG,1988.0,YR1988,22.069,7.96,3.042,74.381,67.711,71.052,...,15589854.0,49.193640,31690792.0,4362871.0,13.767,-1.28539272523412,27327921.0,86.233,1.961376138972,1.054
2,Argentina,ARG,1989.0,YR1989,21.907,7.841,3.022,74.735,68.09,71.425,...,15827047.0,49.204633,32165766.0,4306031.0,13.387,-1.31137287194314,27859735.0,86.613,1.92735296674643,1.054
3,Argentina,ARG,1990.0,YR1990,21.989,7.743,3.034,74.963,68.552,71.784,...,16063515.0,49.217733,32637657.0,4248117.0,13.016,-1.35407722398728,28389540.0,86.984,1.88383110037878,1.054
4,Argentina,ARG,1991.0,YR1991,21.844,7.536,3.012,75.635,68.957,72.319,...,16298168.0,49.230607,33105763.0,4195162.0,12.672,-1.25438693580294,28910601.0,87.328,1.81875770013478,1.054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1371,Data from database: Population estimates and p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,Last Updated: 05/12/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Normalizando

In [14]:
# Eliminado columnas
df3 = df3.drop(["Time Code"], axis=1)

# Lista de columnas a convertir a tipo numÃ©rico
columnas_indicadores = list(df3.columns[3:])

# Iterar sobre las columnas y convertirlas a tipo numÃ©rico
for columna in columnas_indicadores:
    df3[columna] = pd.to_numeric(df3[columna], errors='coerce')

df3 = df3.iloc[:-5]

In [18]:
df3.shape

(1368, 31)

#### Analizando los dataset vimos que hay varios indicadores que se repiten en cada datset, por eso decidimos unir el datset3 y el dataset1

### Uniendo los dataset

In [19]:
df_unido = pd.merge(df3, df1, on=["Country Name", "Country Code", "Time"], how='left')
df_unido

,Country Name,Country Code,Time,"Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]","Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]","Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]",...,Rural population growth (annual %) [SP.RUR.TOTL.ZG],Urban population [SP.URB.TOTL],Urban population (% of total population) [SP.URB.TOTL.IN.ZS],Urban population growth (annual %) [SP.URB.GROW],Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF],"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]",GDP (current US$) [NY.GDP.MKTP.CD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],"Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]","Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]"
0,Argentina,ARG,1987.0,22.232,8.157,3.059,74.004,67.148,70.564,122.404,...,-1.261572,26797140.0,85.843,1.975691,1.053,70.728,1.111062e+11,2.704869,75.0,80.0
1,Argentina,ARG,1988.0,22.069,7.960,3.042,74.381,67.711,71.052,119.584,...,-1.285393,27327921.0,86.233,1.961376,1.054,70.333,1.262068e+11,-1.089933,80.0,87.0
2,Argentina,ARG,1989.0,21.907,7.841,3.022,74.735,68.090,71.425,117.014,...,-1.311373,27859735.0,86.613,1.927353,1.054,69.963,7.663690e+10,-7.156950,80.0,89.0
3,Argentina,ARG,1990.0,21.989,7.743,3.034,74.963,68.552,71.784,115.717,...,-1.354077,28389540.0,86.984,1.883831,1.054,70.928,1.413524e+11,-2.467214,87.0,93.0
4,Argentina,ARG,1991.0,21.844,7.536,3.012,75.635,68.957,72.319,110.058,...,-1.254387,28910601.0,87.328,1.818758,1.054,71.979,1.897200e+11,9.133111,80.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,"Venezuela, RB",VEN,2018.0,17.832,6.864,2.272,76.431,67.832,71.979,100.233,...,-2.655330,26308612.0,88.208,-2.415197,1.057,86.243,NaN,NaN,60.0,74.0
1364,"Venezuela, RB",VEN,2019.0,16.888,7.017,2.250,76.566,68.034,72.161,97.599,...,-3.176733,25564613.0,88.240,-2.868725,1.056,85.343,NaN,NaN,64.0,93.0
1365,"Venezuela, RB",VEN,2020.0,16.213,7.575,2.230,75.814,66.739,71.095,110.380,...,-2.007172,25151087.0,88.279,-1.630797,1.055,84.075,NaN,NaN,54.0,76.0
1366,"Venezuela, RB",VEN,2021.0,15.877,8.124,2.211,75.207,66.259,70.554,115.516,...,-1.418423,24907533.0,88.325,-0.973083,1.054,NaN,NaN,NaN,56.0,68.0
1367,"Venezuela, RB",VEN,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25012473.0,88.378,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_unido.isnull().sum()

Country Name                                                                    0
Country Code                                                                    0
Time                                                                            0
Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]                          41
Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]                          41
Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                      66
Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]                   69
Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]                     69
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                       69
Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]       76
Mortality rate, adult, male (per 1,000 male adults) [SP.DYN.AMRT.MA]           76
Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]                38
Mortality rate, infant, female (per 1,000 live births) [SP.DYN.IMRT.FE.IN]     38
Mortality rate, infant, male (per 1,000 live births) [SP.DYN.IMRT.MA.IN]       38
Mortality rate, neonatal (per 1,000 live births) [SH.DYN.NMRT]                 64
Population growth (annual %) [SP.POP.GROW]                                     39
Number of infant deaths [SH.DTH.IMRT]                                          38
Number of neonatal deaths [SH.DTH.NMRT]                                        77
Net migration [SM.POP.NETM]                                                     0
Population, female [SP.POP.TOTL.FE.IN]                                          0
Population, female (% of total population) [SP.POP.TOTL.FE.ZS]                  0
Population, male [SP.POP.TOTL.MA.IN]                                            0
Population, male (% of total population) [SP.POP.TOTL.MA.ZS]                    0
Population, total [SP.POP.TOTL]                                                 0
Rural population [SP.RUR.TOTL]                                                  0
Rural population (% of total population) [SP.RUR.TOTL.ZS]                       0
Rural population growth (annual %) [SP.RUR.TOTL.ZG]                            73
Urban population [SP.URB.TOTL]                                                  0
Urban population (% of total population) [SP.URB.TOTL.IN.ZS]                    0
Urban population growth (annual %) [SP.URB.GROW]                               38
Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF]            38
Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]    76
GDP (current US$) [NY.GDP.MKTP.CD]                                             85
GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]                                      92
Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]              39
Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]          48
dtype: int64

In [21]:
# Lista de columnas a convertir a tipo numÃ©rico
columnas_indicadores = list(df_unido.columns[3:])

# Iterar sobre las columnas y convertirlas a tipo numÃ©rico
for columna in columnas_indicadores:
    df_unido[columna] = pd.to_numeric(df_unido[columna], errors='coerce').round(1)

In [22]:
df_unido.sample(7)

,Country Name,Country Code,Time,"Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]","Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]","Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]",...,Rural population growth (annual %) [SP.RUR.TOTL.ZG],Urban population [SP.URB.TOTL],Urban population (% of total population) [SP.URB.TOTL.IN.ZS],Urban population growth (annual %) [SP.URB.GROW],Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF],"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]",GDP (current US$) [NY.GDP.MKTP.CD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],"Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]","Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]"
400,El Salvador,SLV,1991.0,32.8,7.3,3.9,69.1,58.7,63.9,159.8,...,0.7,2719285.0,49.8,2.8,1.0,122.6,5.252342e+09,1.5,61.0,54.0
537,Guyana,GUY,2020.0,20.5,8.0,2.4,72.1,65.1,68.5,167.2,...,-0.3,213539.0,26.8,0.2,1.0,67.8,5.471257e+09,43.5,99.0,98.0
298,Costa Rica,CRI,1997.0,21.5,4.0,2.6,79.7,74.6,77.1,65.8,...,0.2,2107799.0,56.4,3.9,1.0,86.8,1.261460e+10,5.5,94.0,99.0
989,Peru,PER,2004.0,22.3,5.8,2.7,74.7,70.7,72.7,115.5,...,-0.6,20821131.0,74.6,1.5,1.0,68.2,6.676870e+10,5.0,86.0,85.0
404,El Salvador,SLV,1995.0,30.7,6.5,3.6,71.3,61.4,66.3,147.6,...,-1.8,3103336.0,54.0,3.4,1.0,124.2,8.921947e+09,4.7,99.0,93.0
1288,Uruguay,URY,2015.0,14.2,9.6,2.0,81.4,73.4,77.5,78.5,...,-1.7,3234208.0,95.0,0.4,1.1,57.9,5.327430e+10,0.4,95.0,96.0
1119,Suriname,SUR,1990.0,30.6,7.6,3.3,67.3,61.4,64.2,212.9,...,0.9,271205.0,65.7,1.2,1.0,94.7,3.884000e+08,-4.5,83.0,65.0

In [23]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1368 entries, 0 to 1367
Data columns (total 36 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Country Name                                                                 1368 non-null   object
 1   Country Code                                                                 1368 non-null   object
 2   Time                                                                         1368 non-null   float64
 3   Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]                        1327 non-null   float64
 4   Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]                        1327 non-null   float64
 5   Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                    1302 non-null   float64
 6   Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]                 1299 non-null   float64
 7   Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]                   1299 non-null   float64
 8   Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                     1299 non-null   float64
 9   Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]     1292 non-null   float64
 10  Mortality rate, adult, male (per 1,000 male adults) [SP.DYN.AMRT.MA]         1292 non-null   float64
 11  Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]              1330 non-null   float64
 12  Mortality rate, infant, female (per 1,000 live births) [SP.DYN.IMRT.FE.IN]   1330 non-null   float64
 13  Mortality rate, infant, male (per 1,000 live births) [SP.DYN.IMRT.MA.IN]     1330 non-null   float64
 14  Mortality rate, neonatal (per 1,000 live births) [SH.DYN.NMRT]               1304 non-null   float64
 15  Population growth (annual %) [SP.POP.GROW]                                   1329 non-null   float64
 16  Number of infant deaths [SH.DTH.IMRT]                                        1330 non-null   float64
 17  Number of neonatal deaths [SH.DTH.NMRT]                                      1291 non-null   float64
 18  Net migration [SM.POP.NETM]                                                  1368 non-null   float64
 19  Population, female [SP.POP.TOTL.FE.IN]                                       1368 non-null   float64
 20  Population, female (% of total population) [SP.POP.TOTL.FE.ZS]               1368 non-null   float64
 21  Population, male [SP.POP.TOTL.MA.IN]                                         1368 non-null   float64
 22  Population, male (% of total population) [SP.POP.TOTL.MA.ZS]                 1368 non-null   float64
 23  Population, total [SP.POP.TOTL]                                              1368 non-null   float64
 24  Rural population [SP.RUR.TOTL]                                               1368 non-null   float64
 25  Rural population (% of total population) [SP.RUR.TOTL.ZS]                    1368 non-null   float64
 26  Rural population growth (annual %) [SP.RUR.TOTL.ZG]                          1295 non-null   float64
 27  Urban population [SP.URB.TOTL]                                               1368 non-null   float64
 28  Urban population (% of total population) [SP.URB.TOTL.IN.ZS]                 1368 non-null   float64
 29  Urban population growth (annual %) [SP.URB.GROW]                             1330 non-null   float64
 30  Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF]          1330 non-null   float64
 31  Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]  1292 non-null   float64
 32  GDP (current US$) [NY.GDP.MKTP.CD]                                           1283 non-null   float64
 33  GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]                                    1276 non-null   float64
 34  Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]            1329 non-null   float64
 35  Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]        1320 non-null   float64
dtypes: float64(34), object(2)
memory usage: 395.4+ KB

In [28]:
# Convertir la columna "Time" a tipo datetime
df_unido["Time"] = pd.to_datetime(df_unido["Time"])

# Extraer el aÃ±o y asignarlo a una nueva columna "Year"
df_unido["Year"] = df_unido["Time"].dt.year

# Eliminar la columna "Time"
df_unido = df_unido.drop("Time", axis=1)

# Cambiar el nombre de la columna "Year" a "Time"
df_unido = df_unido.rename(columns={"Year": "Time"})

# Extraer la columna "Time"
time_column = df_unido.pop("Time")

# Insertar la columna "Time" en la primera posiciÃ³n
df_unido.insert(0, "Time", time_column)

# Imprimir el DataFrame resultante con la columna "Time"
df_unido

,Time,Country Name,Country Code,"Birth rate, crude (per 1,000 people) [SP.DYN.CBRT.IN]","Death rate, crude (per 1,000 people) [SP.DYN.CDRT.IN]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]","Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Mortality rate, adult, female (per 1,000 female adults) [SP.DYN.AMRT.FE]",...,Rural population growth (annual %) [SP.RUR.TOTL.ZG],Urban population [SP.URB.TOTL],Urban population (% of total population) [SP.URB.TOTL.IN.ZS],Urban population growth (annual %) [SP.URB.GROW],Sex ratio at birth (male births per female births) [SP.POP.BRTH.MF],"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]",GDP (current US$) [NY.GDP.MKTP.CD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],"Immunization, DPT (% of children ages 12-23 months) [SH.IMM.IDPT]","Immunization, measles (% of children ages 12-23 months) [SH.IMM.MEAS]"
0,1970,Argentina,ARG,22.2,8.2,3.1,74.0,67.1,70.6,122.4,...,-1.3,26797140.0,85.8,2.0,1.1,70.7,1.111062e+11,2.7,75.0,80.0
1,1970,Argentina,ARG,22.1,8.0,3.0,74.4,67.7,71.1,119.6,...,-1.3,27327921.0,86.2,2.0,1.1,70.3,1.262068e+11,-1.1,80.0,87.0
2,1970,Argentina,ARG,21.9,7.8,3.0,74.7,68.1,71.4,117.0,...,-1.3,27859735.0,86.6,1.9,1.1,70.0,7.663690e+10,-7.2,80.0,89.0
3,1970,Argentina,ARG,22.0,7.7,3.0,75.0,68.6,71.8,115.7,...,-1.4,28389540.0,87.0,1.9,1.1,70.9,1.413524e+11,-2.5,87.0,93.0
4,1970,Argentina,ARG,21.8,7.5,3.0,75.6,69.0,72.3,110.1,...,-1.3,28910601.0,87.3,1.8,1.1,72.0,1.897200e+11,9.1,80.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,1970,"Venezuela, RB",VEN,17.8,6.9,2.3,76.4,67.8,72.0,100.2,...,-2.7,26308612.0,88.2,-2.4,1.1,86.2,NaN,NaN,60.0,74.0
1364,1970,"Venezuela, RB",VEN,16.9,7.0,2.2,76.6,68.0,72.2,97.6,...,-3.2,25564613.0,88.2,-2.9,1.1,85.3,NaN,NaN,64.0,93.0
1365,1970,"Venezuela, RB",VEN,16.2,7.6,2.2,75.8,66.7,71.1,110.4,...,-2.0,25151087.0,88.3,-1.6,1.1,84.1,NaN,NaN,54.0,76.0
1366,1970,"Venezuela, RB",VEN,15.9,8.1,2.2,75.2,66.3,70.6,115.5,...,-1.4,24907533.0,88.3,-1.0,1.1,NaN,NaN,NaN,56.0,68.0
1367,1970,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25012473.0,88.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
def separar_nombre_codigo(columna):
    nombre = columna.rsplit(' [', 1)[0]
    codigo = columna.rsplit(' [', 1)[1][:-1]
    return nombre, codigo

# Lista de columnas que permanecerÃ¡n iguales
columnas_iguales = ['Time', 'Country Name', 'Country Code']

# Crear un nuevo DataFrame con las columnas iniciales
nuevo_df = df_unido[columnas_iguales].copy()

# Definir columnas_a_eliminar como una lista vacÃ­a
columnas_a_eliminar = []

# Cambiar los nombres de las columnas y guardar los cÃ³digos de indicador en nuevas columnas
for columna in df_unido.columns[len(columnas_iguales):]:
    nuevo_nombre, nuevo_codigo = separar_nombre_codigo(columna)
    nuevo_df[nuevo_nombre] = df_unido[columna]
    #nuevo_df[nuevo_nombre + ' Code'] = nuevo_codigo
    columnas_a_eliminar.append(columna)  # Agregar la columna a la lista de columnas a eliminar

# Obtener la intersecciÃ³n entre las columnas a eliminar y las columnas en nuevo_df
columnas_a_eliminar = list(set(columnas_a_eliminar).intersection(nuevo_df.columns))

# Eliminar las columnas existentes en nuevo_df
nuevo_df.drop(columns=columnas_a_eliminar, inplace=True)

# Imprimir el nuevo DataFrame con los cambios aplicados
nuevo_df.sample(5)

,Time,Country Name,Country Code,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)","Fertility rate, total (births per woman)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Mortality rate, adult, female (per 1,000 female adults)",...,Rural population growth (annual %),Urban population,Urban population (% of total population),Urban population growth (annual %),Sex ratio at birth (male births per female births),"Adolescent fertility rate (births per 1,000 women ages 15-19)",GDP (current US$),GDP growth (annual %),"Immunization, DPT (% of children ages 12-23 months)","Immunization, measles (% of children ages 12-23 months)"
708,1970,Mexico,MEX,19.9,5.6,2.3,77.3,71.5,74.4,99.7,...,0.1,89164082.0,78.1,1.8,1.0,76.5,1.180490e+12,3.7,97.0,98.0
727,1970,"Micronesia, Fed. Sts.",FSM,32.5,5.8,4.7,71.5,65.0,68.1,123.2,...,2.7,27814.0,25.6,2.4,1.1,57.5,2.025000e+08,-0.5,81.0,83.0
1269,1970,Uruguay,URY,17.3,9.3,2.4,78.5,69.8,74.1,90.1,...,-2.6,2930912.0,90.8,0.9,1.0,68.8,2.051554e+10,5.6,91.0,89.0
661,1970,Marshall Islands,MHL,35.0,6.4,4.6,65.7,61.3,63.3,239.6,...,-0.9,37187.0,68.6,1.5,1.1,99.3,1.153475e+08,1.4,39.0,94.0
958,1970,Paraguay,PRY,22.9,5.5,2.8,74.5,69.0,71.6,130.9,...,0.2,3360926.0,58.9,1.6,1.1,76.5,2.235515e+10,-0.3,86.0,91.0

In [31]:
nuevo_df.to_csv("data_PF.csv", index= False)

### Abriendo el dataset

In [32]:
df = pd.read_csv("data_PF.csv")
df

,Time,Country Name,Country Code,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)","Fertility rate, total (births per woman)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Mortality rate, adult, female (per 1,000 female adults)",...,Rural population growth (annual %),Urban population,Urban population (% of total population),Urban population growth (annual %),Sex ratio at birth (male births per female births),"Adolescent fertility rate (births per 1,000 women ages 15-19)",GDP (current US$),GDP growth (annual %),"Immunization, DPT (% of children ages 12-23 months)","Immunization, measles (% of children ages 12-23 months)"
0,1970,Argentina,ARG,22.2,8.2,3.1,74.0,67.1,70.6,122.4,...,-1.3,26797140.0,85.8,2.0,1.1,70.7,1.111062e+11,2.7,75.0,80.0
1,1970,Argentina,ARG,22.1,8.0,3.0,74.4,67.7,71.1,119.6,...,-1.3,27327921.0,86.2,2.0,1.1,70.3,1.262068e+11,-1.1,80.0,87.0
2,1970,Argentina,ARG,21.9,7.8,3.0,74.7,68.1,71.4,117.0,...,-1.3,27859735.0,86.6,1.9,1.1,70.0,7.663690e+10,-7.2,80.0,89.0
3,1970,Argentina,ARG,22.0,7.7,3.0,75.0,68.6,71.8,115.7,...,-1.4,28389540.0,87.0,1.9,1.1,70.9,1.413524e+11,-2.5,87.0,93.0
4,1970,Argentina,ARG,21.8,7.5,3.0,75.6,69.0,72.3,110.1,...,-1.3,28910601.0,87.3,1.8,1.1,72.0,1.897200e+11,9.1,80.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,1970,"Venezuela, RB",VEN,17.8,6.9,2.3,76.4,67.8,72.0,100.2,...,-2.7,26308612.0,88.2,-2.4,1.1,86.2,NaN,NaN,60.0,74.0
1364,1970,"Venezuela, RB",VEN,16.9,7.0,2.2,76.6,68.0,72.2,97.6,...,-3.2,25564613.0,88.2,-2.9,1.1,85.3,NaN,NaN,64.0,93.0
1365,1970,"Venezuela, RB",VEN,16.2,7.6,2.2,75.8,66.7,71.1,110.4,...,-2.0,25151087.0,88.3,-1.6,1.1,84.1,NaN,NaN,54.0,76.0
1366,1970,"Venezuela, RB",VEN,15.9,8.1,2.2,75.2,66.3,70.6,115.5,...,-1.4,24907533.0,88.3,-1.0,1.1,NaN,NaN,NaN,56.0,68.0
1367,1970,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25012473.0,88.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.isnull().sum()

Time                                                              0
Country Name                                                      0
Country Code                                                      0
Birth rate, crude (per 1,000 people)                             41
Death rate, crude (per 1,000 people)                             41
Fertility rate, total (births per woman)                         66
Life expectancy at birth, female (years)                         69
Life expectancy at birth, male (years)                           69
Life expectancy at birth, total (years)                          69
Mortality rate, adult, female (per 1,000 female adults)          76
Mortality rate, adult, male (per 1,000 male adults)              76
Mortality rate, infant (per 1,000 live births)                   38
Mortality rate, infant, female (per 1,000 live births)           38
Mortality rate, infant, male (per 1,000 live births)             38
Mortality rate, neonatal (per 1,000 live births)                 64
Population growth (annual %)                                     39
Number of infant deaths                                          38
Number of neonatal deaths                                        77
Net migration                                                     0
Population, female                                                0
Population, female (% of total population)                        0
Population, male                                                  0
Population, male (% of total population)                          0
Population, total                                                 0
Rural population                                                  0
Rural population (% of total population)                          0
Rural population growth (annual %)                               73
Urban population                                                  0
Urban population (% of total population)                          0
Urban population growth (annual %)                               38
Sex ratio at birth (male births per female births)               38
Adolescent fertility rate (births per 1,000 women ages 15-19)    76
GDP (current US$)                                                85
GDP growth (annual %)                                            92
Immunization, DPT (% of children ages 12-23 months)              39
Immunization, measles (% of children ages 12-23 months)          48
dtype: int64